<!DOCTYPE html>
<html>
  <body>
    <div>
      <h3>Tips for Round {{ round_number }}</h3>
      <table style="border-collapse: collapse;">
        <thead>
          {% for header in prediction_headers %}
          <th style="border: 1px solid black;padding: 2px 10px 2px 10px;">{{ header }}</th>
          {% endfor %}
        </thead>
        <tbody>
          {% for row in prediction_rows %}
          <tr>
            {% for element in row %}
            <td style="border: 1px solid black;padding: 2px 10px 2px 10px;">{{ element }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
