{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": true
          }
        ]
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "ignore": [
    "node_modules"
  ]
}