node_modules

.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map
database/backups/*
!.gitkeep

.vscode
.DS_Store

.env
.aws
.gcloud

/cypress/screenshots
/cypress/videos

/app/styles/tailwind.css

_archive
