[MESSAGES CONTROL]
disable=W0102,R0903,E1101,C0111,C0413

# Dangerous default value (list)
# Too few public methods
# Instance of generator has no <something> method
# Missing module docstring
# Local import should be placed at the top of the module
