version: "3.2"
services:
  backend:
    image: cfranklin11/tipresias_server:master
    volumes:
      - ./backend:/app
      - ./data:/data
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DJANGO_SETTINGS_MODULE=project.settings.development
      - DATABASE_HOST=db
    command: python3 manage.py runserver 0.0.0.0:8000
  frontend:
    image: cfranklin11/tipresias_client:master
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - CI=true
    depends_on:
      - backend
    command: yarn start
  db:
    image: postgres
    environment:
      - POSTGRES_DB=tipresias
