# Data packages
numpy
pandas
scikit-learn
scipy
# tensorflow==1.10.1
xgboost
jupyter
ipykernel<5.0.0 # Necessary for a Jupyter bug (30-9-18)
# rpy2
# tzlocal

# Data vis packages
seaborn
matplotlib

# Scraping
requests
bs4

# App packages
django

# Testing/Linting
pylint
autopep8
pytest
pytest-env
faker
