# Data packages
numpy
pandas
scikit-learn==0.20.0
tensorflow==1.11.0
scipy
xgboost==0.80
jupyter
ipykernel<5.0.0 # Necessary for a Jupyter bug (as of 30-9-18): https://github.com/jupyter/notebook/issues/4050
rpy2
tzlocal
dask[complete]
mlxtend
category_encoders

# Data vis packages
seaborn
matplotlib

# Scraping
requests
bs4

# App packages
django
whitenoise
graphene>=2.0
graphene-django>=2.0
psycopg2-binary
dj-database-url

# Testing/Linting
pylint==1.9.2 # Necessary for open bug (as of 2-10-18): https://github.com/PyCQA/pylint/issues/2315
autopep8
pytest
pytest-env
faker
mypy
