# Data packages
numpy
pandas
scikit-learn
scipy
# tensorflow==1.10.1
xgboost
jupyter
# rpy2
# tzlocal

# Data vis packages
seaborn
matplotlib

# App packages
masonite-cli
waitress==1.1.0
masonite>=2.0,<=2.0.99
cryptography==2.3 # Version number required by masonite

requests
bs4
pylint
autopep8
pytest==3.6.0 # Version number required by masonite
pytest-env
