# Data packages
numpy==1.19.4
pandas==1.2.0

# App packages
django==3.1.4
whitenoise
graphene==3.0.0b6
graphene-django==3.0.0b6
gql==3.0.0a3
graphql-core>=3.0,<4.0
psycopg2-binary
dj-database-url
sendgrid>=6.0,<6.99
requests
joblib
gunicorn
rollbar

# Browser automation
MechanicalSoup

# Testing/Linting
pylint==2.6.0
pylint-django
pydocstyle==5.1.1
black
pytest
pytest-env
faker==5.0.2
mypy>=0.70
freezegun==1.0.0
factory_boy
coverage
candystore==0.3.1
