# Data packages
numpy==1.21.3
pandas==1.3.4

# App packages
django==3.2.8
django-cors-headers
graphene==3.0.0b6
graphene-django==3.0.0b7
gql==3.0.0a3
graphql-core>=3.0,<4.0
psycopg2-binary
dj-database-url
sendgrid>=6.0,<6.99
requests
joblib
gunicorn
rollbar==0.16.2

# Browser automation
MechanicalSoup

# Testing/Linting
pylint==2.11.1
pylint-django
pydocstyle==6.1.1
black
pytest
pytest-env
faker==9.3.1
mypy==0.910
freezegun==1.1.0
factory_boy
coverage
candystore==0.3.3

# Types
types-freezegun
types-pkg_resources
types-python-dateutil
types-pytz
types-requests
types-toml
