# Data packages
numpy==1.22.3
pandas==1.4.2

# App packages
django==4.0.4
django-cors-headers
graphene==3.0.0b6
graphene-django==3.0.0b7
gql==3.2.0
graphql-core==3.1.7
graphql_relay==3.1.5
psycopg2-binary
dj-database-url
sendgrid>=6.0,<6.99
requests
joblib
gunicorn
rollbar==0.16.2

# Browser automation
MechanicalSoup

# Testing/Linting
pylint==2.13.7
pylint-django
pydocstyle==6.1.1
black
pytest
pytest-env
faker==13.7.0
mypy==0.942
freezegun==1.2.1
factory_boy
coverage
candystore==0.3.4

# Types
types-freezegun
types-pkg_resources
types-python-dateutil
types-pytz
types-requests
types-toml
