.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: auto;
  width: 15%
}

.App-header {
  background-color: white;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}