# Data packages
numpy==1.20.2
pandas==1.2.4

# App packages
requests
simplejson
rollbar
chardet<4.0 # required version for gql 3.0.0a3
gql==3.0.0a3
cerberus
alembic==1.5.8
sqlalchemy==1.4.10
-e ./sqlalchemy-fauna

# Browser automation
MechanicalSoup

# Testing/Linting
mypy==0.812 # Need mypy due to references to mypy_extensions in production code
