# Data packages
numpy
pandas>=0.23.0,<1.2

# App packages
requests
pytz
simplejson

# Browser automation
MechanicalSoup

# Testing/Linting
pylint==2.6.0
pydocstyle==5.1.1
black
pytest
pytest-env
faker==4.1.2
mypy>=0.70
freezegun==1.0.0
factory_boy
coverage
